<div class="row transmitter-element">
  <div class="col-md-5">
    <span class="label label-default">{{ name }}</span>
  </div>
  <div class="col-md-7" {% if hz %}
                          {% if freq_or %}
                            data-toggle="tooltip" data-placement="bottom" title="{{ hz }} ppb"
                          {% else %}
                            data-toggle="tooltip" data-placement="bottom" title="{{ hz }} Hz"
                          {% endif %}
                        {% endif %}>
    <span {% if hz %}class="frequency {{ class }}"{% endif %}
          {% if freq_or %}data-freq_or="{{ freq_or }}" data-drift="{{ value }}"{% endif %}>{{ value }}</span>
      {% if original %}
        <div class="text-muted">{{ original }}</div>
      {% endif %}
  </div>
</div>
